.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login > div > img {
  height: 40px;
  object-fit: contain;
}
.login > div {
  display: flex;
  flex-direction: column;
}
.login > form > button {
  width: 300px;
  background-color: blue;
  color: #effef5;
  font-weight: 800;
}
.login > form > button:hover {
  background-color: white;
  color: blue;
}
